body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: #666;
  line-height: 1.5em;
  font-size: 1.5em;
}

.public-DraftEditor-content{
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: 100%;
  text-align: left;
}

.editor {
  display: flex;
  min-height: 100vh;
}

.statements {
  width: 60%;
}

.results {
  width: 40%;
  border-left: 1px solid #eee;
}

.statement__content, .statement__result {
  width: 100%;
  padding: .3em .5em;
}

.statement__result > span:after {
  display: inline-block;
  height: 1em;
  content: ' '
}

.token--number {
  color: #389E8C;
  font-family: 'Roboto Mono', monospace;
}

.token--operator {
  color: #4E3F4D;
}

.token--unit {
  color: #F38D2E;
  font-weight: bold;
}

.token--identifier {
  color: #0AC6D6;
}

.top-bar {
  display: flex;
}

.top-bar input {
  padding: .5em;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  font-size: 1em;
  width: 100%;
}
