body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5em;
  padding: 1em;
  font-size: 1.5em;
}

.public-DraftEditor-content{
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: 100%;
  text-align: left;
}

.editor {
  display: flex;
}

.statements {
  width: 60%;
}

.results {
  width: 40%;
}

.statement__content {
  width: 100%;
  padding: .5em 1em;
}

.statement__result {
  width: 100%;
  padding: .5em 1em;
  border-left: 1px solid #ccc;
}

.statement__result > span:after {
  display: inline-block;
  height: 1em;
  content: ' '
}
