* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: #666;
  line-height: 1.5em;
  font-size: 1.5em;
}

html, body, #root, .DraftEditor-root, .DraftEditor-editorContainer { height: 100%;}

.public-DraftEditor-content{
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  padding-top: 2em;
  height: 100%;
  text-align: right;
}

.editor {
  display: flex;
  min-height: 100vh;
}

.statements {
  width: 60%;
}

.results {
  width: 40%;
}

.statement {
  display: flex;
  transition: 200ms;
}

.statement:hover {
  border-color: #f0f0f0;
}

.statement__content, .statement__result, .public-DraftEditorPlaceholder-root {
  width: 100%;
  padding: .3em 2em;
}

.statement__content {
  text-overflow: ellipsis;
  overflow: hidden;
}

.statement__result {
  user-select: none;
  white-space: nowrap;
  width: min-content;
  color: #999;
  align-self: center;
  display: flex;
  text-align: left;
  font-size: .7em;
  padding-left: 1em;
  flex-direction: column-reverse;
}

.statement__result > span:after {
  display: inline-block;
  height: 1em;
  content: ' '
}

.token--number {
  color: #389E8C;
  font-family: 'Roboto Mono', monospace;
}

.token--operator {
  color: #4E3F4D;
}

.token--unit {
  color: #F38D2E;
  font-weight: bold;
}

.token--identifier {
  color: #0AC6D6;
}

.top-bar {
  padding-bottom: 1em;
  display: flex;
  width: 100%;
}

.top-bar input {
  padding: .5em;
  border: none;
  color: #666;
  background: transparent;
  outline: none;
  font-weight: bold;
  font-size: 1em;
  width: 100%;
}


.top-bar input:focus {
  outline: none;
}

.logo {
  padding: 0;
  margin: 0;
}

.logo img{
  margin: .5em;
  display: block;
  max-width: 40px;
}


.error, .token--error { color: red }