* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #666;
  line-height: 1.2em;
  font-size: 1.2em;
}

html, body, #root, .DraftEditor-root, .DraftEditor-editorContainer { height: 100%;}

.public-DraftEditor-content{
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  padding-top: 2em;
  height: 100%;
  text-align: right;
}

.editor {
  display: flex;
  min-height: 100vh;
}

.results {
  width: 40%;
}

.statement__container {
  user-select: text;
  padding: .5em .7em;
  border-radius: 2px;
  display: table;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background: #fdf9ee;
  border: 1px solid #e6e6e6;
  margin-bottom: 1em;
}

.statement {
  display: table-row;
}


.statement__result {
  padding: 0 1em;
  flex: content;
}

.App {
  padding: 2em;
  padding-top: 4em;
  margin: auto;
  position: fixed;
  overflow-y: auto;
  left: 0;
  height: 100%;
  width: 100%;
}

.statement__text {
  margin: 0;
  font-size: .9em;
  color: #222;
  padding-left: 0;
  padding-bottom: .5em;
  padding-top: .5em;
}

.statement__expression, .statement__result {
  padding: 0.1em 0;
  font-size: 0.8em;
  display: table-cell;
}

.statement__result {
  user-select: none;
  white-space: nowrap;
  color: #999;
  padding-left: 1em;
}

.statement__result > span:after {
  display: inline-block;
  height: 1em;
  content: ' '
}

.token--number {
  color: #60958E;
}

.token--operator {
  color: #4E3F4D;
}

.token--unit {
  /* color: #F38D2E; */
  font-weight: bold;
}

.token--identifier {
  /*color: #0AC6D6; */
}

.top-bar {
  padding-bottom: 1em;
  display: flex;
  width: 100%;
}

.top-bar input {
  padding: .5em;
  border: none;
  color: #666;
  background: transparent;
  outline: none;
  font-weight: bold;
  font-size: 1em;
  width: 100%;
}

.top-bar input:focus {
  outline: none;
}

.logo {
  padding: 0;
  margin: 0;
}

.logo img{
  margin: .5em;
  display: block;
  max-width: 40px;
}

main {
  padding: 1em;
  max-width: 960px;
  margin: auto;
}

.error, .token--error { color: red }

@media (max-width: 900px) {
  .App {
    padding-left: 1em;
    padding-right: 1em;
  }
}


@media (max-width: 600px) {
  .App {
    padding-left: 0em;
    padding-right: 0em;
  }

  .statement__text {
    padding-left: 1em;
    padding-right: 1em;
  }

  .statement__container {
    border: none;
    width: 100%;
  }
}

